[submodule "projects/ianhub"]
	path = projects/ianhub
	url = https://github.com/ianhubnet/csk-app-ianhub
[submodule "projects/default"]
	path = projects/default
	url = https://github.com/ianhubnet/csk-app-default
